@import "./mobile-pc/rwd.scss";
body{
	// background-image: url(https://media.giphy.com/media/ZMtzVMrcmqBna/giphy.gif);
	background-color:black;
	color:#000000;

}

.container{
	margin-top: 50px;
	padding: 0px;
}
.hotest-article-block{
	display: flex;

	margin-bottom: 20px;
	justify-content:center;

.hot-box{
	position: relative;
	width:calc(100%/3 );
	    // box-shadow: 1px 6px 27px #888888;
		margin-right: 15px;
		opacity: 0.7;
		transition:opacity .5s;
		&:hover{
				opacity: 1;
			}
	.hot-user-info{
		color:#fff;

		width: 100%;
		height: 100%;
		.hot-avatar{
			@media screen and (min-width: 600px){
			padding: 0 30px;

				
			}
			width: 100%;
			img{	
					width: 100%;
					height: auto;

					

			}
		}
		.hot-user-account{
		    font-size: 1vw;
			text-align: center;
			@include mobile-xs(){
				font-size: 3vw;
			}
		}
		.hot-user-article-title{
			text-align: center;

			font-size: 1vw;
			@include mobile-xs(){
				font-size: 3vw;
			}
			@media screen and (min-width: 600px){
			font-size: 1.5vw;
			
				
			}
			bottom: 0px;
		}
		.hot-user-article-degree-block{
			margin-top: 2px;
			text-align: center;

			font-size: 1vw;
			@include mobile-xs(){
				font-size: 3vw;
			}

			@media screen and (min-width: 600px){
			font-size: 1.5vw;
			
				
			}
			.degree{
				color:red;

			}
		}
		.hot-sign{
			position: absolute;
			@media screen and (min-width: 600px){
			font-size: 50px;
			
				
			}
			color:red;
			top:0;
			text-align: center;
		}
		.hot-user-name{
			text-align: center;
			margin-bottom: 15px;
		}

	}



}
}

.latest-article-block{

	display: flex;
	flex-wrap:wrap;
	.hot-box{
		width: calc(100%/5);
		.hot-user-article-title{
		padding: 0px;
	font-size: 1px;

		}
	}

}
.speak-item{
	float:left;
	margin-left: 50px;

}
.speak-items{
	display: flex;
}


// 
.alert-danger{
	text-align: center;
	background-color: #ff3636;
	border:0px;
	margin-bottom: 0px;
padding: 0px;


	color:#ffffff;
}.alert-info{background-color: #034889;
	color:#fff;
	border:0px;
	text-align: center;
	margin-bottom: 0px;
padding: 0px;


}
marquee{
	color:white;
	img{
		width:50px;
		height:50px;
	}
}
.alert-warning{
	text-align: center;
	margin-bottom: 0px;
padding: 0px;
background-color:#FF7D9F;
	border:0px;
color:#fff;
}

.alert{
	font-size:17px;
	margin-bottom: 15px;

}
// modal
	.post-button{
		position: fixed;
		bottom: 0px;
		left:30%;
		background-color: #a94442;
		border:0px;

	}
.modal-content{
    position: relative;
}