.self-container{
	max-width:550px;
	background-color: #FDFEF0;
		color:white;
	margin:25px auto;
}
.top{
	 border-top-left-radius: 2em;
	 border-top-right-radius: 2em;
	 border:#F5F5F5 1px solid;

	text-align: center;
	background-color: #534658;
	font-size: 33px;
}
.list{

}
tbody{
	font-weight: bold;
	padding: 0px !important;

}


.friend-block{
	width:30%;
		.avatar{
 			margin: 0 auto;
			width:40px;
			height: 40px;
			img{
				width:100%;
				height:100%;
			}
		}
		.friend-name{
			text-align: center;
		}

}
.status{
	width:70%;
	.status-content{
		    max-width: 300px;
		    @media screen and (max-width: 600px){
		    max-width: 280px;

		    }
			@media screen and (max-width: 500px){
		    max-width: 250px;

		    }
		padding-top: 10px;
		 
	}
}
tr{
	font-size: 13px;
	color:#607d8b;
	transition:all .6s;
	&:hover{
		font-size: 10px;

		color:#a06e65;
	}
}

// modal
.post-button{
	position: fixed;
	bottom: 0px;
	background-color: #A94442;
	&:hover{
	background-color: #A94442;

	}
	&:focus{
	background-color: #A94442;

	}
	&:target{
	background-color: #A94442;

	}
		right:150px;
		border:0px;
		@media screen and (min-width:600px){
			left:40%;
		}

}
.text-overflow{


  /* Required for text-overflow to do anything */
}

a{
	color:inherit;
}
ul{
	color:black;
}