
@import "./mobile-pc/rwd.scss";
@mixin phone-text-size(){
	@media screen and (max-width: 600px) {
		font-size: 17px;
	}
}
@mixin pc-text-size(){
	@media screen and (min-width: 600px) {
		font-size: 20px;
	}
}

ul{
	list-style: none;
		@media screen and (max-width: 600px) {
			padding:0px;
			padding-left: 5px;
	}

}
html{
}
.self-container{
	
}
.box{
}
body{
  // background: transparent;

}
.jumbotron{
	margin-bottom: 0px;
	text-align: center;
	padding-bottom: 0px;
	background-color: transparent;
	img{
		max-width: 50vw;
		height:auto;
		@media screen and (max-width: 600px) {
		max-width: 80vw;

		}
	}
}

.content-block{
	    padding-top: 50px;
	max-width: 960px;
	@media screen and (min-width: 600px ) {
			margin:0 auto;
		
	}

display: flex;
	// .article-block{
	// 	height:205px;
	// 	width:100%;
	// 	.article-top{
	// 		.article-title{
	// 			display: inline-block;
	// 			float:left;
	// 			width:80%;
	// 		}
	// 		.date{
	// 			:&before{
	// 				content:'sad';

	// 			}
	// 			display: inline-block;
	// 			background-color: white;
	// 			float:left;
	// 			color:black;
	// 			width:10%;
	// 			font-size: 1vw;

	// 		}
	// 	}
	// }

.article-block{
		width:90%;
		color:white;
		margin-right:1%;

		@media screen and (max-width: 600px){



		}
	.article{
		@include phone-text-size;
		@include  pc-text-size;
		letter-spacing: 3px;
		padding-bottom: 5px;
		margin-bottom: 15px;
		line-height: 25px;
		.article-top{
			.date{
				border-radius: 50px;
				text-align: center;
				background-color: white;
				color:black;
				width:212px;
				font-size: 1vw;
				margin-top: 15px;
			@media screen and (max-width: 600px) {
				width:100px;
				
			}
			@media screen and (max-width:500px){
			font-size: 2vw;
				
			}


			}
			.article-title{	
				@include  mobile-md-down(){
					font-size: 3vw;
				}
				box-sizing:boder-box;
				text-align: center;
				width: 100%;
				height: 38px;
				line-height: 38px;
			}
		}
		.article-short-content{
			margin-top: 40px;
			@media screen and (max-width:700px){
			font-size: 1vw;
				
			}
			@media screen and (max-width:500px){
			font-size: 3vw;
				
			}

				@media screen and (min-width:700px){
					padding:50px;
					max-width: 787px;
					font-size: 15px;
					}	
			.content-img{

			}
			img{
				opacity: 0.8;
				transition:all .5s;
				&:hover{
				opacity: 1;

				}
				text-align: center;
				cursor:zoom-in;
				width:80%;
				height:auto;
				@media screen and (min-width:600px){
					margin-right: 109px;
				}
				@media screen and (max-width:600px){
				width:70%;
				margin:20px 40px;
					
						
					}	
			}
			iframe{
			@media screen and (min-width:600px){
				width:100%;
			
					
						
					}	
				width:100%;

				@media screen and (max-width:600px){
				height:100%;
				width:70%;
				margin:20px 40px;
					
						
					}	
			
		

			}
		}
			.readmore{
					@media screen and (min-width:700px){
					padding:50px;
						
					}	
			}
			.post-info{
					font-size:1px;
					@media screen and (min-width:700px){
					padding:50px;
						
					}	

				@media screen and (max-width:500px){
					font-size:3vw;
			
					
						
					}

				span{
					margin-right: 2px;
				}

			}

	}




		}


}



.links-block{
	width: 28%;
	margin-left: 1%;
	color:white;
	.links-top-background{
		padding: 15px 0;
		height: auto;
		text-align: center;
		}

	.user-info-block{
		ul{
			li{
				margin-bottom: 5px;
			}
		}
		padding-bottom: 10px;
		margin-bottom: 10px;
		.avatar{
		
		margin: 15px 0px;
		.imgbox{
			max-width:64px;
			height: auto;
			margin:0 auto;			
				img{
		text-align: center;

			width:100%;
			height:100%;
			}
		}
	
		}
	}

	.recent-article-block{
			margin-bottom:15px;
	ul{
		li{
			margin-bottom: 5px;
		}
	}
		
		.recent-article-title{
				margin:15px 0px;
		}
	}
	.recent-comments-block{
			margin-bottom:15px;
		

		.comment-item{
		margin-bottom: 5px;

			@media screen and (min-width: 600px){
		padding-left: 40px;
	
			}

		}
	}
	.who-come-block{
					
		.who-come-grid{
			@media screen and (max-width:600px){
			width:100px;

			}
			width:160px;
			height:auto;
			margin:0 auto;

			ul{

				padding:0;
						&:after{
						content:'';
						display:table;
						clear:both;
						}	
				li{

					display: inline-block;
					float:left;
					width:50px;
					height:50px;
					margin-right: 3px;
					margin-bottom: 3px;
					@media screen and (max-width:600px){
					width:30px;
					height:30px;
					}
					img{
						width:100%;
						height: 100%;
					}
				}
			}
		}
	}
	.come-count-block{
		text-align: center;
	}
}






// modal

.post-button{
	position: fixed;
	bottom: 0px;
	background-color: #A94442;
	&:hover{
	background-color: #A94442;

	}
	&:focus{
	background-color: #A94442;

	}
	&:target{
	background-color: #A94442;

	}
		right:150px;
		border:0px;
		@media screen and (min-width:600px){
			left:40%;
		}

}
label{
	margin-right: 10px;
	color:#fff;

}
.modal-content{
	padding: 10px;
	background-color: #7cb4d2;
	font-size: 15px;
	input[type="text"]{

		border-radius: 10px;
	}
	input[type="number"]{
		border-radius: 10px;
		
	}
	img{
		width: 100px;
	}
	input[type="file"]{
		margin-bottom: 10px;
		border-radius: 10px;
	}
	textarea{
		border-radius: 10px;
@media screen and (min-width:600px) {
			width:100%;
height:400px;
			
		}
		@include  mobile-md-down(){
			width:85%;
			height:200px;
		}
	}

}
.mp3-block{
	margin-top: 15px;
	width: 100%;
	audio{
	width: 100%;
		    background-color: #95B9C7;

	}
}

.my-textarea{
		border-radius: 10px;
		
	}
